/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 sept. 2015, 19:46:21
    Author     : ET
*/

body {    
    font-family: 'Open Sans';        
    background-color: #555555;
}

#session-box {
    margin: 8% auto 0;
    max-width: 270px;//
    font-size: 15px;
}

.form-group {
    margin-bottom: 15px;
    width: 280px;
}

.logo {
    background: url("../res/logo_connection-page_light.png") no-repeat;
    display: block;
    width: 404px;
    height: 222px;
    margin: 0 auto 30px;
    margin-left: -50px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
}

.error {
    color: red;
}

.btn {
    font-weight: bold;
    padding: 8px 12px 5px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:hover, .btn:focus {
    color: white;
    text-decoration: none;
}

.btn-default {
    color: white;
    background-color: #15af90;
    border-color: #15af90;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: white;
    background-color: #118b72;
    border-color: #118B72;
}