/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 sept. 2015, 19:06:50
    Author     : ET
*/

html{
  height: 100%;
}

body {
  min-height: 100%;  
}

body {       
    margin: 0 !important;
    padding: 0 !important;    
    font-family: arial;
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
}

.side-menu {
    position: absolute;
    background: #14a386;
    height: 100%;
    width: 240px;
    top: 0;
    left: 0;
}

.side-menu div {
    margin: 0 auto;   
}

#password {
    font-weight: bold;
    float: left;
    /* margin: 0 64px; */
    margin-left: 64px;
}

#password-label {
    color: #fff;
    width: 73px;
    font-size: 30px;
    margin: 0 auto;
}

#password-text {
    background-color: #fff;
    width: 95px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
}

.side-menu-box {
    position: relative;
    height: 126px;
    width: 153px;//        
}

#side-menu-box-comp {   
    height: 100%;
    margin-top: 30px;
}

.side-menu-box-comp-counter {
    font-size: 35px;
    color: #ddd;
    padding: 8px 20px;
}

#side-menu-box-comp-label {
    font-size: 17px;
    color: #ddd;
    padding: 15px 20px;
}

.connected-listeners-image {
    background-image: url("../res/connected-listeners.png");
}

.questions-asked-image {
    background-image: url("../res/questions-asked.png");
}

.questions-answered-image {
    background-image: url("../res/questions-answered.png");
}

.questions-section {
    position: absolute;
    background: #555555;
    height: 100%;
    width: auto;
    top: 0;
    right: 0;
    overflow-y: scroll;
    left: 240px;
}

.question {
    color: #000;
    background: #E4E4E4;
    border-bottom: 1px solid #FFF;
    padding: 25px;
    padding-top: 0px;
    display: block;
    overflow: auto;
    min-width: 400px;
}

.question-infos-area {
    width: 80%;
    float: left;
}

.question-isAnswered-area {
    float: right;
    padding-right: 10px;
    margin-top: 0%;
}


.question-author, .question-time, .question-vote {   
    font-weight: bold;
}

.question-body {
     font-size: 16px; 
}

.question-time, .question-vote {
    font-size: 12px;
    float: left;
}

/* Is answered button */
.question-isAnswered {
    display:block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #9A9A9A;
    border-radius: 50%;
    color: #888;
    text-align:center;
    text-decoration:none;
    background: #D6D6D6;//
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
    margin-top: 34px;
}

.clicked {
    background: #4d4d4d;
    border-color: #333333;
    color:#f1f1f1;
}

.question-thumbs-up{
    margin-left: 20px;
    margin-top: -7px;
    float:left;
}

.question-vote{
    margin-left: 8px;
}

/* ORDER BUTTON */
.btn {
    font-weight: bold;
    padding: 8px 12px 5px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;    
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:hover, .btn:focus {
    color: white;
    text-decoration: none;
}

.btn-default {
    color: white;
    background-color: #118870;
    line-height: 3.4;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.btn-default:hover, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: white;
    background-color: #147B67;
}

#session-start-btn {
    margin-top: 44px;
    margin-left: 16px;
}
.top-section {
    height: 100px;   
    margin: auto;   
}